---
layout: home
---

<div class="container-fluid bs-docs-container index-content">
    <div class="row">
        <div style='height:30px;'>&nbsp;</div>
        {% for post in paginator.posts %}

{% if post.tags.size > 0 %}
    {% capture tags_content %}{% if post.tags.size == 1 %}<i class="fa-tag glyphicon glyphicon-tags"></i>{% else %}<i class="fa-tags glyphicon glyphicon-tags"></i>{% endif %} ：{% endcapture %}
    {% for post_tag in post.tags %}
        {% assign tag = '' %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag == '' %}
	    {% capture tags_content_temp %}{{ tags_content }}&nbsp;<code>{{ post_tag }}</code>{% if forloop.last == false %}&nbsp;{% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
        {% if tag != '' %}
            {% capture tags_content_temp %}{{ tags_content }}&nbsp;<code class='{{ tag.class }}'>{{ tag.name }}</code>{% if forloop.last == false %}&nbsp;{% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

        <div class="jumbotron">
            <h2>{{ post.title }}<small> <span class="label label-info">{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</span></small></h2>
	    <p class="hidden-xs fa">{{ tags_content }}</p>
            <p class="description">{{ post.description }}</p>
            <p>
                <a href="{{ post.url }}" class="btn btn-primary" role="button">阅读</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>

{% if paginator.total_pages > 1 %}
<nav style="margin: 0 auto; text-align: center;">
    <ul class="pagination">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="active"><a href="javascript:void(0);">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}
