<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<meta content="yes" name="apple-mobile-web-app-capable">-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
    <link rel="apple-touch-icon" sizes="57x57" href="/images/114_114.png" /> 
    <link rel="apple-touch-icon" sizes="114x114" href="/images/114_114.png" /> 
    <link rel="apple-touch-icon" sizes="72x72" href="/images/144_144.png" /> 
    <link rel="apple-touch-icon" sizes="144x144" href="/images/144_144.png" /> 

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/default.css" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?0c604cca6874b9c92af854adbc6cf0dd";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script>
        var imgUrl = 'http://blog.dinghz.com/images/114_114.png';  // 分享后展示的一张图片
        var lineLink = window.location.href; // 点击分享后跳转的页面地址
        var descContent = "{% if page.description %}{{ page.description }}{% else %}{{ site.description }} {% endif %}";  // 分享后的描述信息
        var shareTitle = '{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}';  // 分享后的标题
        var appid = '';  // 应用id,如果有可以填，没有就留空
        
        function shareFriend() {
            WeixinJSBridge.invoke('sendAppMessage',{
                "appid": appid,
                "img_url": imgUrl,
                "img_width": "114",
                "img_height": "114",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                //_report('send_msg', res.err_msg);  // 这是回调函数，必须注释掉
            })
        }
        function shareTimeline() {
            WeixinJSBridge.invoke('shareTimeline',{
                "img_url": imgUrl,
                "img_width": "114",
                "img_height": "114",
                "link": lineLink,
                "desc": descContent,
                "title": shareTitle
            }, function(res) {
                   //_report('timeline', res.err_msg); // 这是回调函数，必须注释掉
            });
        }
        function shareWeibo() {
            WeixinJSBridge.invoke('shareWeibo',{
                "content": descContent,
                "url": lineLink,
            }, function(res) {
                //_report('weibo', res.err_msg);
            });
        }

        function initwx(){
            // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
            document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
                // 发送给好友
                WeixinJSBridge.on('menu:share:appmessage', function(argv){
                    shareFriend();
                });
                // 分享到朋友圈
                WeixinJSBridge.on('menu:share:timeline', function(argv){
                    shareTimeline();
                });
                // 分享到微博
                WeixinJSBridge.on('menu:share:weibo', function(argv){
                    shareWeibo();
                });
            }, false);
	}
    </script>
</head>
<body onload="initwx()">

<header role="banner" id="top" class="navbar navbar-static-top bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <nav id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                {% for link in site.nav %}
                {% assign active = nil %}
                {% if page.url == link.url%}
                {% assign active = 'active' %}
                {% endif %}
                <li class="{{ active }} {{ page.url }}">
                    <a href="{{ link.url }}">{{ link.text }}</a>{{ indicator }}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>

{% if page.ptitle %}
<div class="bs-docs-header">
    <div class="container">
        <h1>{{ page.ptitle }}</h1>

        <p>{{ page.pdescription }}</p>
    </div>
</div>
{% else %}
<div class="bs-docs-header">
    <div class="container">
        <h1>{{ site.domain }}</h1>

        <p>丁小样同学欢迎您！</p>
    </div>
</div>
{% endif %}

{{ content }}

<footer class="footer">
  <div class="container">
    <div class="row footer-top">
      <h4 class="text-center">
          <img width="57px" height="57px" src="/images/144_144.png"> &nbsp;<a target="_blank" href="http://weibo.com/craneding/">@丁小样同学出品</a>
        </h4>      
    </div>
    <hr>
    <div class="row footer-bottom">
      <ul class="list-inline text-center">
        <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备15053892号-1</a>
      </ul>
    </div>
  </div>
</footer>
</body>
</html>
