---
layout:           default
ptitle:           craneding.github.io
pdescription:     没错，这满满都是技术类的文章。把自己看到的、学到的都记录下来，也是自己一本不错的备忘录!
---

<div class="container-fluid bs-docs-container">
    <div class="row">
        <h2 class="page-header" id="download">{{ page.title }}</h2>
        {{ content }}
        
        <div>
            <div class="pull-left">
                {% if page.previous %}
                <a href="{{ page.previous.url }}">
                    <button type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-menu-left"></i>&nbsp;{{ page.previous.title | truncatewords:5 }}
                    </button>
                </a>
                {% endif %}
            </div>
            <div class="pull-right">
                {% if page.next %}
                <a href="{{ page.next.url }}">
                    <button type="button" class="btn btn-primary">
                        {{ page.next.title | truncatewords:5 }}&nbsp;<i class="glyphicon glyphicon-menu-right"></i>
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
        
        <div class="comment">
            {% if site.disqus.config %}
                <div class="comment-cnt">
                    <div id="disqus_thread"></div>
                </div>
            {% else %}
                {% if site.duoshuo.config %}
                <div class="comment-cnt">
                    <div class="ds-thread"></div>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
