---
layout:           default
ptitle:           craneding.github.io
pdescription:     没错，这满满都是技术类的文章。把自己看到的、学到的都记录下来，也是自己一本不错的备忘录!
---

<div class="container-fluid bs-docs-container">
    <div class="row">
        <h2 class="page-header" id="download">{{ page.title }}</h2>
        {{ content }}
    </div>
</div>

<nav class="pagination fn-clear" id="violet-paging">
    <div class="pagination-list">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url }}" rel="bookmark"><i class="fa fa-chevron-circle-left"></i>{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}<i class="fa fa-chevron-circle-right"></i></a>
        {% endif %}
    </div>
</nav>
